body {
  --primary-color: #7978d9;
}

.container {
  background: linear-gradient(
      180deg,
      rgba(5, 237, 227, 0.5) 0%,
      rgba(100, 95, 251, 0.5) 100%,
      rgba(100, 95, 251, 0.5) 100%
    ),
    url("../../assets/backgroundImg.svg");
  background-repeat: no-repeat;
  background-size: cover;

  height: 100vh;
  width: 100vw;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  position: relative;

  font-family: "Rubik", sans-serif;
}

.container img {
  position: absolute;

  top: 46px;
  left: 100px;
}

.container-general {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
}

.container-description {
  display: flex;
  flex-direction: column;
  justify-content: center;

  width: 40%;

  color: #ffff;
}

.container-description h1 {
  font-weight: 700;
  font-size: 52px;
  line-height: 62px;

  margin-bottom: 32px;
}

.container-description strong {
  color: var(--primary-color);
}

.container-description span {
  font-weight: 400;
  font-size: 28px;
  line-height: 33px;

  margin-bottom: 40px;
}

.container-description button {
  border: none;
  border-radius: 5px;

  width: 284px;
  height: 52px;

  background-color: var(--primary-color);

  font-weight: 700;
  font-size: 14px;
  line-height: 17px;

  color: #ffff;

  cursor: pointer;
}

.container-login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 513px;
  height: 535px;

  background-color: #ffff;
}

.container-login h1 {
  color: var(--primary-color);

  font-weight: 500;
  font-size: 28px;
  line-height: 33px;

  margin-bottom: 50px;
}

.container-login label {
  margin-bottom: 10px;

  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  
}


.container-login input {
  display: flex;
  flex-direction: column;

  width: 449px;
  height: 58px;

  margin-bottom: 50px;
  margin-top: 10px;


  border: 1px solid #555555;
  box-sizing: border-box;
  border-radius: 5px;

  padding: 10px;

  font-size: 18px;
}

.container-login button {
  border: none;
  border-radius: 5px;

  width: 449px;
  height: 58px;

  background-color: var(--primary-color);
  color: #ffff;

  font-weight: 700;
  font-size: 14px;
  line-height: 17px;

  cursor: pointer;
}
