.filter-select {
  
  padding: 30px;

  position: relative;

  height: 197px;

  background: #fafafa;
  box-shadow: 0px 2px 11px rgba(0, 0, 0, 0.1);
  border-radius: 10px;

  margin-bottom: 61px;
}

.filter-select h3 {
  font-family: "Rubik", sans-serif;
  font-weight: 500;
  font-size: 15px;
  line-height: 14px;

  color: #b9b9b9;

  margin-top: 5px;
}

.filter-categories {
  display: flex;
  align-items: flex-start;

  flex-wrap: wrap;

  width: 400px;
  height: 100px;

 
}

.filter-categories button {
  width: 80px;
  height: 20px;

  box-shadow: 0px 2px 11px rgba(0, 0, 0, 0.1);
  border-radius: 10px;

  font-weight: 400;
  font-size: 10px;
  line-height: 12px;

  margin-right: 12px;
}

.selected-categorie button {
  background-color: #7978d9;
}

.non-selected-categorie button {
  background-color: #fafafa;
}

.filter-buttons {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-size: 12px;
  line-height: 14px;

  position: absolute;

  top: 148px;
}

.filter-buttons button {
  min-width: 118px;
  min-height: 32px;
}

.filter-buttons button:first-child {
  color: black;

  margin-right: 15px;
}

.filter-buttons button:last-child {
  background-color: #7978d9;

  color: #ffff;
}
