.container-modal {
  position: absolute;

  height: 100%;
  width: 100%;

  background-color: rgba(3, 3, 3, 0.5);

  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  background-color: #ffff;

  width: 611px;
  height: 770px;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;

  font-family: "Rubik", sans-serif;

  position: relative;

  
  padding: 60px;
}

.modal h1 {
  font-weight: 500;
  font-size: 28px;
  line-height: 33px;

  
}

.modal img {
  position: absolute;

  top: 67px;
  right: 64px;

  cursor: pointer;
}

.modal-inputs {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  margin-bottom: 20px;
}

.modal-inputs input{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 485px;
  height: 63px;

  margin-bottom: 40px;
  margin-top: 10px;

  border: 1px solid #555555;
  box-sizing: border-box;
  border-radius: 5px;

  padding: 10px;

  font-size: 18px;
}

.modal-inputs button {
  border: none;
  border-radius: 5px;

  width: 236px;
  height: 46px;

  background-color: var(--primary-color);
  color: #ffff;

  font-weight: 700;
  font-size: 14px;
  line-height: 17px;

  cursor: pointer;

  position: absolute;

  left: 200px

}


