.container-sign-up {
  background: linear-gradient(
    180deg,
    rgba(5, 237, 227, 0.5) 0%,
    rgba(100, 95, 251, 0.5) 100%,
    rgba(100, 95, 251, 0.5) 100%
  ),
  url("../../assets/backgroundImg.svg");
background-repeat: no-repeat;
background-size: cover;

height: 100vh;
width: 100vw;

display: flex;
flex-direction: column;
align-items: center;
justify-content: center;

position: relative;

font-family: "Rubik", sans-serif;
}

.container-sign-up img {
  position: absolute;

  top: 46px;
  left: 100px;
}

.main-sign-up {
  background-color: #ffff;

  width: 513px;
  height: 701px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;

  font-family: "Rubik", sans-serif;
}

.main-sign-up h1 {
  color: var(--primary-color);

  font-weight: 500;
  font-size: 28px;
  line-height: 33px;

  margin-top: 20px;
}

.main-sign-up span {
  color: #7b61ff;

  text-align: center;

  margin-top: 12px;
}

.sign-up-inputs {
  display: flex;
  flex-direction: column;

  margin-bottom: 20px;
}

.sign-up-inputs input {
  display: flex;
  flex-direction: column;

  width: 449px;
  height: 58px;

  margin-bottom: 40px;
  margin-top: 10px;

  border: 1px solid #555555;
  box-sizing: border-box;
  border-radius: 5px;

  padding: 10px;

  font-size: 18px;
}

.sign-up-inputs button {
  border: none;
  border-radius: 5px;

  width: 449px;
  height: 58px;

  background-color: var(--primary-color);
  color: #ffff;

  font-weight: 700;
  font-size: 14px;
  line-height: 17px;

  cursor: pointer;

  
}
